/unidad2-guía2/Ejercicio1/build/
/unidad2-guía2/Ejercicio1/dist/
/unidad2-guía2/Ejercicio2/nbproject/private/
/unidad2-guía2/Ejercicio2/build/
/unidad2-guía2/Guía3 Ejercicio1/nbproject/private/
/unidad2-guía2/Guía3 Ejercicio1/build/
/unidad2-guía3/Guía3 Ejercicio1/nbproject/private/